.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  margin: 8px 0;
  padding: var(--horizontal-space);
  box-sizing: border-box;
  font-size: 28px;
}

.alt-header__title {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -1px;
}

.alt-header__column {
  display: flex;
  width: 33%;
}

.alt-header__column:nth-child(2) {
  justify-content: center;
}

.alt-header__column:last-child {
  justify-content: flex-end;
}

.alt-header__column:last-child i {
  margin-left: 26px;
}
