.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid #f1f1f1;
  padding: 18px 56px;
  background-color: #f9f9fa;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

@keyframes nav-animation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: none;
  }
}

.nav__btn:hover {
  animation: nav-animation 1s ease-in-out infinite;
}
