#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  margin-top: -14px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fafafa;
}

#friends-display-link i {
  color: #d5d5d5;
}

#friends-display-link i:first-child {
  font-size: 22px;
}

#friends-display-link span {
  margin: 0 16px 0 6px;
}

.friends-page__channel {
  margin-top: 19px;
  border-top: var(--main-border);
  padding-top: 16px;
}

.friends-page__channel-header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  color: var(--light-gray);
  font-weight: 600;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-size: 130px;
  color: #3c1e1e;
  background-color: var(--yellow);
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.7s;
}
